@import "tailwindcss";

@utility dark {
  :where(.dark) & {
    @composite;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
}
